@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=latin,latin-ext);

body {
	background-image: url("http://i11.tietuku.cn/c19ac29e1b773ba2.jpg");
	background-size: 100% auto;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size: 400%;
	position: fixed;
  	top: 50%;
  	left: 50%;
	margin-top: -200px;
  	margin-left: -387.5px;
}

p {
	text-align: center;
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size: 200%;
	position: fixed;
  	top: 50%;
  	left: 50%;
	margin-top: -110px;
  	margin-left: -239px;
}

form {
	text-align: center;
	color: white
}

#input_box {
	font-size: 200%;
	font-family: 'Roboto Slab', serif;
	position: fixed;
  	top: 50%;
  	left: 50%;
	margin-top: -50px;
  	margin-left: -348px;
	width: 525px;
}

#submit_button {
	font-size: 200%;
	font-family: 'Roboto Slab', serif;
	position: fixed;
  	top: 50%;
  	left: 50%;
	margin-top: -50px;
  	margin-left: 180px;
}

#short_link_label {
	color: white;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 180%;
	position: fixed;
  	top: 50%;
  	left: 50%;
	margin-top: 10px;
  	margin-left: -173px;
}

#short_link_actual {
	color: #461B7E;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 180%;
	position: fixed;
  	top: 50%;
  	left: 50%;
	margin-top: 62px;
  	margin-left: -198px;
}

#rectangle{
    width:500px;
    height:55px;
    background:white;
    opacity: 0.7;
	position: fixed;
  	top: 50%;
  	left: 50%;
	margin-top: 58px;
  	margin-left: -250px;
	border-radius: 20px;
}