<html>
	<head>
		<title>Shortn | Shrtnin Evrythng</title>
	
		<!-- <link rel="icon" type="image/png" href="//dl6fh5ptkejqa.cloudfront.net/0482a3c938673192a591f2845b9eb275.png" /> -->
		<!-- <link rel="shortcut icon" href="http://www.myiconfinder.com/uploads/iconsets/256-256-53d5151ca4f467ed9951f85024881c85.png" type="image/x-icon" /> -->
		<link rel="shortcut icon" href="img/shortn.png" type="image/x-icon" />

		<link rel="stylesheet" type="text/css" href="css/application.css" />

	</head>
	<body>
		<%= yield %>
	</body>
</html>